.footer{
    padding-top: 1rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#666;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#666;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.5rem 0;
    color:#666;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 1.5rem;
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#666;
    border-top: .1rem solid rgb(0, 0, 0);
    padding:2.5rem 1rem;
    text-align: center;
}