section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

section#newsletter{
    min-height: 20vh;
    padding:0 4%;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

/* Media Queries */
@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}
